# Set 
    -   group of unique objects as a single entity
    -   duplicates not allowed
    -   insertion order not preserved
    -   indexing , slicing not allowed
    -   objetcs are mutable
    -   represent with {} curly braces and with comma seperator
    -   can apply math operations like union, intersection, difference etc on set objects

### Creation Of Set

In [9]:
# Typ1e1
set1 = {10,20,30,40}
print(type(set1), set1)

#type 2
list1 = [10,20,30]
t = 19,30,32
set2 = set(list1)
set3 = set(t)
print(set2, set3)

#type 3
set4= set(range(10))
print(set4)

# in case of empty set 
# type 4

set5 ={} # it is dict
set6 = set() # this is correct for empty set
print(type(set5),type(set6))

<class 'set'> {40, 10, 20, 30}
{10, 20, 30} {32, 19, 30}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'dict'> <class 'set'>

### Functions of Set

In [13]:
# add - add item to set
set1 = {10,20,30}
set1.add(500)
print(set1)

set1.add(11,12) # TypeError - set.add() takes exactly one argument (2 given)

{10, 20, 500, 30}

TypeError: set.add() takes exactly one argument (2 given)

In [15]:
# update - add multiple item to set
set1= {10,20,30}
list1 = [11,22,33]
set1.update(list1, range(100,110))
print(set1)

set1.update(10) # TypeError: 'int' object is not iterable

{33, 100, 101, 102, 103, 104, 105, 10, 11, 106, 107, 108, 109, 20, 22, 30}

TypeError: 'int' object is not iterable

In [16]:
# copy - returns copy of the set , it is a cloned object.
set1 = {10,20,30}
set2 = set1.copy()
print(set2)

{10, 20, 30}

In [28]:
# pop - removes and return some randome element from set
set1 = {10,20,30,40,50,60}
print(set1.pop(), set1)

50 {20, 40, 10, 60, 30}

In [30]:
# remove - removes specified element form the set, if element not present then returns KeyError

set1 = {10,20,30,40,50}
set1.remove(30)
print(set1)
set1.remove(30)
print(set1)

{50, 20, 40, 10}

KeyError: 30

In [32]:
# discard - removes specified element form the set, if element not present then it wont return any error
set1 = {10,20,30,40,50}
set1.discard(30)
print(set1)
set1.discard(30)
print(set1)

{50, 20, 40, 10}
{50, 20, 40, 10}

In [33]:
# clear - removes all elements from set
set1 = {10,20,30,40,50}
set1.clear()
print(set1)

set()

### Mathmatical Operations on Set

In [34]:
# union - x.union(y) or x|y  - returns all elements present in both sets
set1 ={10,20,30,40,12,43}
set2= {10,20,30,50,60}
print(set1.union(set2))
print(set1|set2)

{40, 10, 43, 12, 50, 20, 60, 30}
{40, 10, 43, 12, 50, 20, 60, 30}

In [36]:
# intersection - x.itersection(y) or x&y - return common elements present in both
set1 ={10,20,30,40,12,43}
set2= {10,20,30,50,60}
print(set1.intersection(set2))
print(set1&set2)

{10, 20, 30}
{10, 20, 30}

In [37]:
# difference - x.difference(y) or x-y - returns elements present in x but not in y

set1 ={10,20,30,40,12,43}
set2= {10,20,30,50,60}
print(set1.difference(set2))
print(set1-set2)

{40, 43, 12}
{40, 43, 12}

In [38]:
# symmetric difference - x.symmetriv_difference(y) or x^y - returns elements present in either x or y but not in both

set1 ={10,20,30,40,12,43}
set2= {10,20,30,50,60}
print(set1.symmetric_difference(set2))
print(set1^set2)

{50, 40, 43, 60, 12}
{50, 40, 43, 60, 12}

### Membership Operators

In [39]:
set1 ={10,20,30,40,12,43}
print(10 not in set1)
print(10 in set1)

False
True

### Set Comprehension

In [40]:
set_square = {x*x for x in range(5)}
print(set_square)

{0, 1, 4, 9, 16}

### Programs

In [42]:
# print different vowels present in word
set_name = set("Rohit Gore")
print(set_name)
vowels = ('a','e','i','o','u')
differ = set_name.intersection(vowels)
print(differ)

{'r', 'R', ' ', 'i', 'e', 'o', 'G', 'h', 't'}
{'o', 'i', 'e'}