# Tuple

-   Same as List except it is immutable i.e. cannot perform any changes in the object
-   Read Only Version of List
-   Insertion Order Preserved
-   Duplicates Allowed
-   Heterogenous Objects Allowed
-   represent within ***parenethesis ()*** with comma seperator.
-   parenthesis optional

In [2]:
# parenthesis optional

t1 = (10,20,30,40)
t2 = 10,20,30,40

print(t1,t2)
print(type(t1),type(t2))

#single valued tuple value should end with comma
t3= 10
t4= 10,

print(type(t3), type(t4))

(10, 20, 30, 40) (10, 20, 30, 40)
<class 'tuple'> <class 'tuple'>
<class 'int'> <class 'tuple'>

In [3]:
#Tuple Creation
t1=()
t2=(10,20,30)
t3= 10 , 20 , 30
lis = [10,20,30]
t4 = tuple(lis)

print(type(t1),type(t2),type(t3),type(t4))

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

## Accesing Elements of Tuple

In [5]:
tup = (10,20,30,40)

# By Using Index
print(tup[0])
print(tup[-1])

# By Using Slice Operator
print(tup[1:3])

10
40
(20, 30)

## Mathematical Operators for Tuple

In [7]:
t1 = (10,20)
t2 = (30,40)

# Concat + operator
print(t1+t2)


# Repetition Operator *

print(t1*3)

(10, 20, 30, 40)
(10, 20, 10, 20, 10, 20)

## Important Functions Of Tuple

In [14]:
t = (10,20,30,40,10,20)

# Length
print(len(t))

# count - no of occurrences of given item in tuple
print(t.count(10))

#index - return first occurrence of given item in tuple
print(t.index(10))

#sorted - sort based on default natural sorting order
print(sorted(t))

# Min() and Max()
print(min(t))
print(max(t))

6
2
0
[10, 10, 20, 20, 30, 40]
10
40

### Tuple Packing And Unpacking

In [16]:
#Paacking
a,b,c,d = 10,20,30,40
t= a,b,c,d
print(t)

#unpacking
a,b,c,d = t
print(a,b,c,d)

(10, 20, 30, 40)
10 20 30 40

## Problems on Tuples

### Joining Tuples

In [2]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

res = []
for sub in test_list:
    print(res)
    if res and res[-1][0] == sub[0]:
        res[-1].extend(sub[1:])
    else:
        res.append([ele for ele in sub])
res = list(map(tuple, res))
print(res)

[]
[[5, 6]]
[[5, 6, 7]]
[[5, 6, 7, 8]]
[[5, 6, 7, 8], [6, 10]]
[(5, 6, 7, 8), (6, 10), (7, 13)]

In [2]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
for i in range(len(test_list)):
    new = test_list[i] + test_list[i+1]
    print(new)

(5, 6, 5, 7)
(5, 7, 5, 8)
(5, 8, 6, 10)
(6, 10, 7, 13)

IndexError: list index out of range

In [6]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
result = dji1 + dji2
print(result)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [7]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
result = (dji1, dji2)
print(result)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [8]:
members = (('Kate', 23), ('Tom', 19))
members = (members[0], ('John', 26), members[1])
print(members)

(('Kate', 23), ('John', 26), ('Tom', 19))

In [5]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
print(f"Number of occurrences: {default.count('YES')}")

Number of occurrences: 2

In [4]:
names = ('Monica', 'Tom', 'John', 'Michael')
sorted_names = tuple(sorted(names))
print(sorted_names)

('John', 'Michael', 'Monica', 'Tom')

In [3]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
asc = tuple(sorted(info, key=lambda item: item[1]))
desc = tuple(sorted(info, key=lambda item: item[1], reverse=True))
print(f'Ascending: {asc}')
print(f'Descending: {desc}')

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

In [13]:
stocks = (('Apple Inc', ('AAPL.US', 310)), ('Microsoft Corp', ('MSFT.US', 184)))
print(stocks[0][1][0])

AAPL.US